#header .btn-buscar {
    color: #f8f9fa;
    border-color: #f8f9fa;
    background: none;
}

#header .btn-buscar.ui-state-hover{
    color: black;
    background: white;
}

.input-search{
    width: 250px;
}

#map{
    width: 100%;
    height: 600px;
}

@media only screen and (max-width: 768px) {
    .input-search{
        width: 100%;
    }
}